@import '../abstracts/variables';
@import '../abstracts/mixins';
.container-fluid {
    .row1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .column1 {
            -ms-flex: 50%;
            flex: 50%;
            height: 120vh;
            padding: 20px;
            background-color: $color3;
            .navbar {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                @include layout(50%, 75px);
                z-index: 2;
                .social-nav {
                    display: inline-block;
                    padding: 20px 16px;
                    width: 30%;
                    .fa {
                        text-align: center;
                        text-decoration: none;
                        margin: 2px;
                        color: $color1;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .list {
                    width: 80%;
                    margin-right: 5%;
                    a {
                        float: right;
                        display: block;
                        padding: 24px 16px;
                        color: $color2;
                        text-decoration: none;
                        font-family: sans-serif !important;
                        font-size: 20px;
                        &:hover {
                            color: $color1;
                        }
                    }
                }
            }
            .text-wraper {
                text-align: left;
                padding: 45% 20%;
                color: $color1;
                h2 {
                    font-size: 2em;
                }
                .text-w {
                    font-size: 6em;
                    color: $color2
                }
            }
        }
    }
}