* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 480px) {
    .timeline ul li {
        margin-left: 20px;
        text-align: left;
        padding-bottom: 20px;
    }
    .timeline ul li div {
        width: calc(80vw - 60px);
    }
    .timeline ul li:nth-child(even) div {
        left: 65px;
        text-align: left;
    }
    .timeline ul li:nth-child(odd) div {
        left: 65px;
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .timeline ul li {
        margin-left: 20px;
        text-align: left;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .timeline ul li div {
        width: calc(80vw - 60px);
    }
    .timeline ul li:nth-child(even) div {
        left: 65px;
        text-align: left;
    }
    .timeline ul li:nth-child(odd) div {
        left: 65px;
        text-align: left;
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
@import 'layout/navigation';
@import 'abstracts/variables';
@import 'abstracts/mixins';
body {
    margin: 0;
    overflow-x: hidden;
    h1 {
        font-size: 3.5em;
    }
    .color-number {
        color: #F7DC4F;
    }
}

.container-fluid {
    width: 100%;
    height: 120vh;
    .row1 {
        .header-img {
            background-image: url("/library/images/header.png");
            @include reply-bg;
        }
    }
}

.about {
    @include layout(100%,
    75vh);
    float: left;
    background-color: $color2;
    display: flex;
    padding: 0 20px 0 20px;
    .img-about {
        @include about-item;
    }
    .text-about {
        width: 50%;
        padding-right: 10%;
        margin-top: 5%;
        h1,
        p,
        h4 {
            color: $color3;
        }
        h1 {
            text-align: center;
        }
    }
    .get {
        @include layout(30%,
        40px);
        border: 1px solid silver;
        border-radius: 3px;
        background-color: $color1;
        transition: .4s;
        color: $color3;
    }
}

.level {
    @include layout(100%,
    90vh);
    float: left;
    background-image: url('/library/images/exp.png');
    @include reply-bg;
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .6);
    filter: grayscale(-1%) contrast(200%) brightness(60%);
    h1 {
        color: $color2;
        margin-top: 5%;
    }
    h2 {
        color: $color2;
    }
    .progrerss-level {
        margin-top: 5%;
        margin: 30px auto;
        width: 80%;
        padding: 20px;
        .skillbar {
            background: rgba(0, 0, 0, 0.5);
            position: relative;
            display: block;
            margin-bottom: 35px;
            @include layout(100%,
            20px);
            @include skill;
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -ms-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -ms-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            .skillbar-title {
                position: absolute;
                top: 0;
                left: 0;
                width: 125px;
                font-weight: bold;
                font-size: 13px;
                color: $color1;
                background: #6adcfa;
                @include skill-b;
                span {
                    display: block;
                    background: rgba(0, 0, 0, 0.1);
                    padding: 0 20px;
                    @include layout(125px,
                    20px);
                    line-height: 20px;
                    @include skill-b;
                }
            }
            .skillbar-bar {
                @include layout(0,
                20px);
                @include skill;
            }
            .skill-bar-percent {
                position: absolute;
                right: 10px;
                top: 0;
                font-size: 11px;
                height: 35px;
                line-height: 20px;
                color: $color1;
            }
        }
    }
}

.experience {
    width: 100%;
    float: left;
    background-image: url('/library/images/target.png');
    @include reply-bg;
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .6);
    filter: grayscale(-1%) contrast(200%) brightness(60%);
    .portfolio {
        @include layout(100%,
        70vh);
        text-align: center;
        position: inherit;
        margin-bottom: 5%;
        h1 {
            color: $color2;
            margin-top: 5%;
        }
        h2 {
            color: $color2;
            margin-bottom: 5%;
        }
        a {
            color: $color4;
            text-decoration: none;
        }
        .project {
            margin-top: 5%;
            @include layout(75%,
            40vh);
            margin: auto;
            display: flex;
            figure {
                background: $color2;
                overflow: hidden;
                img {
                    @include layout(25vw,
                    100%);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    &:hover {
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
    .timeline {
        ul {
            padding: 50px 0;
            li {
                list-style-type: none;
                position: relative;
                width: 4px;
                margin: 0 auto;
                background: #03e0f8;
                &.in-view {
                    div {
                        transform: none;
                        visibility: visible;
                        opacity: 1;
                    }
                    &::after {
                        background: #03e0f8;
                    }
                }
                &:nth-last-child(1) {
                    background: none;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: inherit;
                    transition: background .5s ease-in-out;
                }
                &:nth-child(odd) {
                    div {
                        left: -115px;
                        transform: translate3d(200px, 0, 0);
                    }
                }
                &:nth-child(even) {
                    div {
                        left: -180px;
                        text-align: right;
                        transform: translate3d(-200px, 0, 0);
                    }
                }
                div {
                    position: relative;
                    bottom: 0;
                    @include layout(300px,
                    225px);
                    color: $color2;
                    time {
                        display: block;
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 8px;
                        color: #03e0f8;
                    }
                    .item-tittle {
                        font-size: 17px;
                        margin-bottom: 10px;
                    }
                    visibility: hidden;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
    .container {
        border-radius: 5px;
        background-color: $color2;
        color: $color3;
        padding: 10px;
        width: 80%;
        z-index: 1;
        transform: translate(0, 325px);
        padding-top: 2%;
        .row {
            @include row;
            &::after {
                content: "";
                display: table;
                clear: both;
            }
            .column {
                float: left;
                width: 50%;
                margin-top: 3%;
                padding: 20px;
                margin-bottom: 2%;
                input[type=text],
                select,
                textarea {
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                }
                input[type=submit] {
                    background-color: $color3;
                    color: $color2;
                    padding: 12px 20px;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        background-color: $color3;
                    }
                }
            }
            .social-contact {
                width: 100%;
                text-align: center !important;
                a {
                    text-decoration: none;
                }
                .fa {
                    margin-right: 5%;
                    margin-bottom: 5%;
                    color: $color1;
                }
            }
        }
    }
}

.contact {
    @include layout(100%,
    70vh);
    float: left;
    background-image: url('/library/images/contact.png');
    @include reply-bg;
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .6);
    filter: grayscale(-1%) contrast(200%) brightness(60%);
    z-index: -1;
}