<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../library/sass/css/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../library/js/jquery.min.js"></script>
    <script src="../library/js/jquery.mixitup.min.js"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.js">
    <script type="text/javascript">
        $(function() {
            $('#Grid').mixitup();
        });
    </script>
    <title>Portfolio</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row1">
            <div class="column1 ">
                <div class="navbar">
                    <div class="social-nav">
                        <a href="#" class="fa fa-facebook" style="font-size:24px;"></a>
                        <a href="#" class="fa fa-twitter" style="font-size:24px;"></a>
                        <a href="#" class="fa fa-google" style="font-size:24px;"></a>
                        <a href="#" class="fa fa-instagram" style="font-size:24px;"></a>
                    </div>
                    <div class="list">
                        <a href="home.html">Home</a>
                        <a href="portfolio.html" style="color: #F7DC4F;">Portfolio</a>
                        <a href="#contact">Contact</a>
                        <a href="login.html">Login</a>
                    </div>

                </div>
                <div class="wrapper">

                    <div class="controls">
                        <ul>
                            <li class="filter active" data-filter="all">Show All</li>
                            <li class="filter" data-filter="react">React</li>
                            <li class="filter" data-filter="angular">Angular</li>
                            <li class="filter" data-filter="php">PHP</li>
                            <li class="filter" data-filter="php react">React &amp; PHP</li>
                        </ul>
                    </div>

                    <!-- SORT CONTROLS -->

                    <!-- GRID -->

                    <ul id="Grid">
                        <li class="mix react mix_all" style="display: inline-block;  opacity: 1;">

                            <a href="#"><img src="../library/images/react.jpg" alt=""></a>

                        </li>
                        <li class="mix php mix_all" style="display: inline-block;  opacity: 1;">
                            <a href="#"><img src="../library/images/php.png" alt=""></a>
                        </li>
                        <li class="mix angular mix_all" style="display: inline-block;  opacity: 1;">
                            <a href="#"><img src="../library/images/angular.png" alt=""></a>
                        </li>
                        <li class="mix php mix_all" style="display: inline-block;  opacity: 1;">
                            <a href="#"><img src="../library/images/php.png" alt=""></a>
                        </li>
                        <li class="mix angular mix_all" style="display: inline-block;  opacity: 1;">
                            <a href="#"><img src="../library/images/angular.png" alt=""></a>
                        </li>
                        <li class="mix react mix_all" style="display: inline-block;  opacity: 1;">
                            <a href="#"><img src="../library/images/react.jpg" alt=""></a>
                        </li>
                        <li class="gap"></li>
                        <!-- "gap" elements fill in the gaps in justified grid -->
                    </ul>
                </div>
            </div>
            <div class="column1 header-img"></div>

        </div>
    </div>
</body>

</html>