<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../library/scss/css/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.js">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row1">
            <div class="column1 ">
                <div class="navbar">
                    <div class="social-nav">
                        <a href="#" class="fa fa-facebook" style="font-size:24px;"></a>
                        <a href="#" class="fa fa-twitter" style="font-size:24px;"></a>
                        <a href="#" class="fa fa-google" style="font-size:24px;"></a>
                        <a href="#" class="fa fa-instagram" style="font-size:24px;"></a>
                    </div>
                    <div class="list">
                        <a href="index.html">Home</a>
                        <a href="portfolio.html" style="color: #F7DC4F;">Portfolio</a>
                        <a href="#contact">Contact</a>
                        <a href="login.html">Login</a>
                    </div>

                </div>
            </div>
            <div class="column1 ">

                <div class="column1 port">
                    <div class="portfolio">
                        <div class="pr pj1"></div>
                        <!-- <div class="pr pj2"></div> -->
                        <!-- <div class="pr pj3"></div> -->


                        <div class="pj">
                            <!-- <div class="pr pj4"></div>
                            <div class="pr pj5"></div> -->

                        </div>
                        <div class="pr pj6"></div>

                    </div>
                    <div class="list-project">
                        <div class="project">
                            <div class="img-pj">
                                <img src="../library/images/thumb-1.jpg" alt="project1">
                            </div>
                            <div class="des-pj">
                                <h1><span class="number">01 </span>Decor</h1>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h4><br>
                                <button class="get" type="button">Get in touch</button>
                            </div>
                        </div>
                        <div class="project">
                            <div class="img-pj">
                                <img src="../library/images/thumb-4.jpg" alt="project1">
                            </div>
                            <div class="des-pj">
                                <h1><span class="number">01 </span>Decor</h1>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4><br>
                                <button class="get" type="button">Get in touch</button>
                            </div>
                        </div>
                        <div class="project">
                            <div class="img-pj">
                                <img src="../library/images/thumb-6.jpg" alt="project1">
                            </div>
                            <div class="des-pj">
                                <h1><span class="number">01 </span>Decor</h1>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h4><br>
                                <button class="get" type="button">Get in touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>